<div class="container__small">
  <div class="grid grid--1x2">
    <div class="features">
      <div class="feature__content">
        <header>
          <h3 class="feature__heading">flow max</h3>
          <img
            class="features__image"
            src="images/jord_1.jpg"
            alt="jordan shoe image"
          />
        </header>
        <div class="feature__text">
          Price: <span class="feature__price">$20</span>
        </div>
        <div class="btn__features">
          <button class="btn btn--primary">Add to Cart</button>
        </div>
      </div>
    </div>
    <div class="features">
      <div class="feature__content">
        <header>
          <h3 class="feature__heading">X-90</h3>
          <img
            class="features__image"
            src="images/jord_2.jpg"
            alt="jordan shoe image"
          />
        </header>
        <div class="feature__text">
          Price: <span class="feature__price">$15</span>
        </div>
        <div class="btn__features">
          <button class="btn btn--primary">Add to Cart</button>
        </div>
      </div>
    </div>
    <div class="features">
      <div class="feature__content">
        <header>
          <h3 class="feature__heading">Sneakers</h3>
          <img
            class="features__image"
            src="images/jord_3.jpg"
            alt="jordan shoe image"
          />
        </header>
        <div class="feature__text">
          Price: <span class="feature__price">$9</span>
        </div>
        <div class="btn__features">
          <button class="btn btn--primary">Add to Cart</button>
        </div>
      </div>
    </div>
    <div class="features">
      <div class="feature__content">
        <header>
          <h3 class="feature__heading">K - Swiss</h3>
          <img
            class="features__image"
            src="images/jord_4.jpg"
            alt="jordan shoe image"
          />
        </header>
        <div class="feature__text">
          Price: <span class="feature__price">$24</span>
        </div>
        <div class="btn__features">
          <button class="btn btn--primary">Add to Cart</button>
        </div>
      </div>
    </div>
    <div class="features">
      <div class="feature__content">
        <header>
          <h3 class="feature__heading">switherland</h3>
          <img
            class="features__image"
            src="images/jord_5.jpg"
            alt="jordan shoe image"
          />
        </header>
        <div class="feature__text">
          Price: <span class="feature__price">$25</span>
        </div>
        <div class="btn__features">
          <button class="btn btn--primary">Add to Cart</button>
        </div>
      </div>
    </div>
    <div class="features">
      <div class="feature__content">
        <header>
          <h3 class="feature__heading">Merrel</h3>
          <img
            class="features__image"
            src="images/jord_6.jpg"
            alt="jordan shoe image"
          />
        </header>
        <div class="feature__text">
          Price: <span class="feature__price">$19</span>
        </div>
        <div class="btn__features">
          <button class="btn btn--primary">Add to Cart</button>
        </div>
      </div>
    </div>
    <div class="features">
      <div class="feature__content">
        <header>
          <h3 class="feature__heading">Smart</h3>
          <img
            class="features__image"
            src="images/jord_7.jpg"
            alt="jordan shoe image"
          />
        </header>
        <div class="feature__text">
          Price: <span class="feature__price">$14</span>
        </div>
        <div class="btn__features">
          <button class="btn btn--primary">Add to Cart</button>
        </div>
      </div>
    </div>
    <div class="features">
      <div class="feature__content">
        <header>
          <h3 class="feature__heading">Nike -unbalanced</h3>
          <img
            class="features__image"
            src="images/jord_8.jpg"
            alt="jordan shoe image"
          />
        </header>
        <div class="feature__text">
          Price: <span class="feature__price">$15</span>
        </div>
        <div class="btn__features">
          <button class="btn btn--primary">Add to Cart</button>
        </div>
      </div>
    </div>
    <div class="features">
      <div class="feature__content">
        <header>
          <h3 class="feature__heading">White Sneakers</h3>
          <img
            class="features__image"
            src="images/jord_9.jpg"
            alt="jordan shoe image"
          />
        </header>
        <div class="feature__text">
          Price: <span class="feature__price">$15</span>
        </div>
        <div class="btn__features">
          <button class="btn btn--primary">Add to Cart</button>
        </div>
      </div>
    </div>
    <div class="features">
      <div class="feature__content">
        <header>
          <h3 class="feature__heading">light phoenix</h3>
          <img
            class="features__image"
            src="images/jord_10.jpg"
            alt="jordan shoe image"
          />
        </header>
        <div class="feature__text">
          Price: <span class="feature__price">$28</span>
        </div>
        <div class="btn__features">
          <button class="btn btn--primary">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
