<div class="grid footer__sections">
  <div class="collapsible">
    <div class="footer__collapsible-container">
      <div>
        <h3 class="footer__header">
          offers
          <span class="icon-container">
            <svg class="icon--small icon__primary-footer">
              <use xlink:href="images/sprite.svg#arrow-up-solid"></use>
            </svg>
          </span>
        </h3>
      </div>
      <div class="footer__collapsible-content">
        <ul class="list">
          <li><a class="footer__list" href="#">Promo</a></li>
          <li><a class="footer__list" href="#">Gift a friend</a></li>
          <li><a class="footer__list" href="#">pay with paypal</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="collapsible">
    <div class="footer__collapsible-container">
      <div>
        <h3 class="footer__header">
          company
          <span class="icon-container">
            <svg class="icon--small icon__primary-footer">
              <use xlink:href="images/sprite.svg#arrow-up-solid"></use>
            </svg>
          </span>
        </h3>
      </div>
      <div class="footer__collapsible-content">
        <p>Buy as much as you want now...</p>
      </div>
    </div>
  </div>
  <div class="collapsible">
    <div class="footer__collapsible-container">
      <div>
        <h3 class="footer__header">
          support
          <span class="icon-container">
            <svg class="icon--small icon__primary-footer">
              <use xlink:href="images/sprite.svg#arrow-up-solid"></use>
            </svg>
          </span>
        </h3>
      </div>
      <div class="footer__collapsible-content">
        <p>if your desired shoe is not here, kindly reach out.</p>
      </div>
    </div>
  </div>
  <div class="footer__logo">
    <p class="footer__logo-text">
      <span class="icon-container">
        <img src="/images/cart-shopping-solid.svg" alt="" class="icon--small" />
      </span>
      | Hilary store
    </p>
  </div>
</div>
