<header>
  <div class="head collapsible">
    <div class="header">
      <img
        class="header__image .header__image-toggler"
        src="/images/menu.svg"
        alt="menu_icon"
      />
      <p class="header__logo">| Hilary Store</p>
      <div class="header__account">
        <span class="icon-container">
          <a href="/index.html">
            <svg class="icon--small">
              <use xlink:href="images/sprite.svg#user-solid"></use>
            </svg>
          </a>
        </span>
      </div>

      <ul class="list header__list collapsible--content">
        <li class="header__list_item"><a href="">Home</a></li>
        <li class="header__list_item"><a href="">Shop</a></li>
        <li class="header__list_item"><a href="">Contact</a></li>
        <li class="header__list_item"><a href="">Sign in</a></li>
      </ul>
    </div>
  </div>
</header>
