<div class="search__section">
  <h2 class="search__header">Search</h2>
  <p class="search__text">
    <span class="icon-container">
      <svg class="icon--small icon--primary">
        <use xlink:href="images/sprite.svg#arrow-up-solid"></use>
      </svg>
    </span>
    see shoes you can buy at affordable prices
  </p>

  <div class="input--container">
    <div class="input__search-container">
      <input
        class="input__search"
        type="text"
        placeholder="Search: Name of Shoe..."
      />
      <button class="btn btn--accent btn--search">Search</button>
    </div>
  </div>
</div>
