<form>
  <div class="form__body">
    <h1 class="form__heading">Sign in</h1>
    <input
      class="input"
      type="email"
      placeholder="hilary@gmail.com"
      autofocus
      maxlength="25"
    />
    <input
      class="input"
      type="password"
      name=""
      id=""
      placeholder="Password"
      minlength="8"
      maxlength="15"
    />
    <div class="form__button-section">
      <button class="btn btn--primary" type="reset">Clear</button>
      <button class="btn btn--primary btn__login" type="submit">Login</button>
    </div>
    <p class="form_sign-up">Not signed in: <a href="">Register/sign up</a></p>
  </div>
</form>
